# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
venv/
.venv/

# C
*.o
*.ko
*.obj
*.elf
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sql
*.sqlite

./todos